<div class="nav">
   <p>Welcome to Lightforce Arcade!</p> 
   <div>
        <label style="padding-right: 10px;" for="games">Select a game!</label>
        <select name="Games" class="game-selector" (change)="changeGame($event)">
            <option value="Pac-Man">Pac-Man</option>
            <option value="Whack-A-Mole">Whack-A-Mole</option>
            <option value="Minecraft">Minecraft</option>
            <option value="League of Legends">League of Legends</option>
        </select>
   </div>
   <p>Your Token Balance: {{ tokenBalance }} Tokens</p> 
</div>

<div class="arcade-wrapper">
    <app-game (playGameEvent)="playGame($event)" [currentGame]="currentGame" [tokenBalance]="tokenBalance"></app-game>
    <div class="bottom-wrapper">
        <div class="content-wrapper" >
            <app-tokens (addBalanceEvent)="addTokens($event)"></app-tokens>
        </div>
        <div class="content-wrapper">
            <app-ledger [transactionHistory]="transactionHistory"></app-ledger>
        </div>
    </div>
</div>
